.navbar{
  background-color: var(--main-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  color: var(--white-color);
}
.navbar .navbar__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white-color);
}
.navbar ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.navbar ul li a{
  color:  var(--white-color);
  text-decoration: none;
  margin: 0 8px;

}