.user{
  border:1px dotted gray;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user .user__avt{
  height: 48px;
  width: 48px;
  object-fit: cover;
  border-radius: 50%;
}
